# Ignore all files
*

# But not these folders
!.gitkeep

# Java
!src/main/java/
!src/main/resources/
!src/test/java/

# Exclude all files in those directories
src/main/java/**/*
src/main/resources/**/*
src/test/java/**/*

# Except .gitkeep to keep folder structure
src/main/java/**/.gitkeep
src/main/resources/**/.gitkeep
src/test/java/**/.gitkeep

# Maven
!.mvn/
!.mvn/wrapper/

# Other important files
!pom.xml
!README.md
!.gitignore
